<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">

<div id="app">
    <div class="parent">
    <!-- <input type="text" v-model="message" style="width: 200px;"></input> -->
    <div class="cp_iptxt">
        <input class="ef" type="text" placeholder="" v-model="message">
        <label>こたえをここにかいてね</label>
        <span class="focus_line"><i></i></span>
        </div>
    <p></p>
    <!-- <button v-on:click="sendMessage">こたえをおくる</button> -->
    <a href="#" class="btn-square" v-on:click="sendMessage">BUTTON</a>
    <p>{{result}}</p>
    </div>

<script>
new Vue({
    el: '#app',
    data: {
    message: '',
    result: '',
    ok: false
    },
    methods: {
        sendMessage: function(){
            if(this.message == 'パンダ') {
                this.result = 'せいかい！'
            }
            else{
                this.result = 'ざんねんちがうよ！'
            }
        },
        sayHi: function(){
            return 'Hi';
        }
    }
})
</script>
</div>
</body>
</html>